@font-face {
    font-family: Proxima Nova;
    src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot);
    src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot?#iefix) format("embedded-opentype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff2) format("woff2"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff) format("woff"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.ttf) format("truetype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.svg#wf) format("svg");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: Proxima Nova;
    src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
    src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix) format("embedded-opentype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2) format("woff2"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff) format("woff"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf) format("truetype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf) format("svg");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: Proxima Nova;
    src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot);
    src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix) format("embedded-opentype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2) format("woff2"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff) format("woff"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf) format("truetype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf) format("svg");
    font-weight: 700;
    font-style: normal;
  }
  
  body {
    background-color: #F8F8F8;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-box {
    font-size: 30px;
    padding: 14px 19px;
    border: 1px solid #C1C1C1;
    background-color: white;
    width: 9.8em;
    border-radius: 10px;
    transition: .2s;
  }
  
  .search-box:hover {
    border-color: #AAAAAA;
  }
  
  .search-box:focus-within {
    border-color: #FF0080;
    box-shadow: 0 0 0 5px rgba(255, 0, 128, 0.40);
  }
  
  input {
    font-family: Proxima Nova;
    letter-spacing: -0.2px;
    font-size: 30px;
    border: none;
    color: #323232;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  input:focus {
    outline: none;
  }
  
  input[type='search']::-webkit-search-cancel-button {
      -webkit-appearance: none;	
  }
  
  .clear:not(:valid) ~ .search-clear {
      display: none;
  }